*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
} 

:root{
    --bg-dark:#1a1b1c;  
    --bg-dark-med:#4f5357;  
    --bg-dark-med-gray:#a9a3a3;
    --bg-panel:#242629;
    --primary:#556b2f;
    --primary-hover:#6b8e23;


    --text-main:#e0e0e0;
    --text-muted:#a0a0a0;
    --text-inv:#ffffff;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style: none;
}
