
.cabecalho{
    height: auto;
    width: 100%;
} 

.cabecalho__li{
    display: inline-block;
    margin: 0, 1rem;
}

.cabecalho__a{
    display: inline-block;
    width: clamp(5%, 10rem, 150rem);
    min-width: 10rem;
    background-color: #a9a9a3;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
}

.cabecalho__li__a:hover{
    background-color: #000000;
    color: #fff;
}

.cabecalho__a--active{
    background-color: #000000;
    color: #fff;
}

.cabecalho__li--active{
    float: right;
    margin-right: 5rem;
}