.conteudo__container{
    display: grid;

    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: 1rem;
    height: auto;
}

.conteudo__sec{
    position: relative;
    background-color: #244570;
    color: #fff;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 0 0 none;
    transition: background-color 0.5s ease-in, color 0.5s ease-in, box-shadow 0.5s ease-in;
}

.conteudo__sec:hover{
    background-color: #fff;
    box-shadow: 5px 5px 20px #000;
    color: #244570;
    position: absolute;
    z-index: 10000;
}

.conteudo__tit{
    text-align: center;
    background-color: #262728;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

.conteudo__txt{
    padding: 1rem;
    height: 21rem;
    text-align: justify;
}

.conteudo__btn{
    display: block;
    background-color: #262728;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    

}


