
.futebol{
    width: 33.1vw;
    display: inline-block;
    background-color: var(--futebol-bg);
    border: 0.6rem solid var(--futebol-border);
    margin: 0;
    padding: 0 4rem;
}

.futebol__title {
    color: var(--futebol-title);
    font-size: 5rem;
    text-align: center;
    margin: 4rem ;
}

.futebol__text {
    font-size: 2rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 3.5rem;
}

.futebol__btn {
    display: block;
    width: 10rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--futebol-border);
    color: var(--text-inv);
    text-align: center;
    border-radius: 0.5rem;
}