.hero{
    position: relative;
    background-color: var(--bg-dark);
    width: 100%;
    height: 100%;
    color: var(--text-main);
}

.hero__container--basquete{
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("../img/img-02-fundo-hero-basquete.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.hero__container--futebol{
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("../img/img-02-fundo-hero-basquete.jpg");
}

.hero__container--volei{
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("../img/img-02-fundo-hero-basquete.jpg");
}

.hero__container{
    
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/

    background-image: linear-gradient(rgba(0,0,0,0.5)), url("../img/img-01-fundo-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}
.hero__title{
    font-size: clamp(2.5rem, 5vw, 4rem);
    text-align: center;

}
.hero__text{
    text-align: justify;
    margin: 1.5rem;
    line-height: 5rem;
    font-size: 2rem;
}
.hero__btn{
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 6rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem;
    color: #000;
    border: 0.2rem solid var(--text-main);
    background-color:var(--bg-dark-med-gray);

}

.hero__btn:hover{
    background-color:var(--bg-dark);
    color: var(--text-main);
}

@media(min-width: 320px) and (max-width: 425px){
    .hero__title{
    font-size: clamp(4rem,6vw,4rem);
    }

    .hero__text{
        line-height: 3rem;
        font-size: 2rem;
    }

    .hero__container{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        
    }

    .hero{
        height: 75%;
    }
    
    .hero__btn{
    width: 50%;
    margin: 20% 0 0 0;

}
}