@import url("./base.css");
@import url("./cabecalho.css");

.cabecalho__ul {
    display: flex;          /* coloca os itens lado a lado */
    list-style: none;       /* remove as bolinhas */
    gap: 20px;              /* espaço entre os itens */
    padding: 0;
    margin: 0;
}

.cabecalho_li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}